@import reset
@import fonts

body
  text-align: center
  +font-lucida
  font-size: 20px

input
  font-size: 1.0em
  margin-bottom: 1em

input[type=submit]
  font-size: 1.0em

h1
  margin-top: 2em
  color: orange
  margin-bottom: 1em

.notice
  margin-bottom: 1em
  color: #b00

#about
  position: fixed
  bottom: 0
  width: 100%
  padding-bottom: 20px


a, a:visited
  color: #1b3
